<div class="text-center">
    <h1>Add Film</h1>
    <form method="post" action="/addfilm">
        Film Name:  <input type="text" name="name"><br>
        <text></text><br>
        Category:  <input type="text" name="category"><br>
        <text></text><br>
        Runtime:  <input type="number" name="runtime"><br>
        <text></text><br>
        Language:  <input type="text" name="language"><br>
        <text></text><br>
        <input type="submit">
    </form>
</div>